{% macro render(elementId = null, titlePartId = null, text = null, color = null, style = null, weight = null) %}
	{% apply spaceless %}
	{% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
	{% include './template.twig' %}
	{% endapply %}
{% endmacro %}

{% apply spaceless %}
{% set titleH4ElementId = elementId ?: 'title-h4-7b609871' %}
{% set titleH4PartId = titlePartId ?: 'title-h4-part-c5318944' %}
{% set titleH4Text = (text ?: properties.titleH4Text) ?: bsi_cx_lorem(3) %}
{% set titleH4Color = (color ?: properties.titleH4Color) ?: 'bsi-text-primary-color' %}
{% set titleH4Style = (style ?: properties.titleH4Style) ?: 'bsi-header-style-4' %}
{% set titleH4Weight = (weight ?: properties.titleH4Weight) ?: 'fw-normal' %}

<h4 data-bsi-element="{{ titleH4ElementId }}" data-bsi-element-part="{{ titleH4PartId }}" class="{{ 'bsi-element-' ~ titleH4ElementId }} bsi-title-element {{ titleH4Color }} {{ titleH4Style }} {{ titleH4Weight }}">{{ titleH4Text }}</h4>
{% endapply %}
