{% apply spaceless %}
    {% set formSelectElementId = elementId ?: 'select-51fb02b4' %}
    {% set formSelectElementPartId = elementPartId ?: 'select-part-c1cbbcc6' %}
    {% set formSelectHelperTextPartId = formSelectHelperTextPartId ?: 'select-helper-text-part-5989e5eb' %}
    {% set formSelectErrorInvalidPartId = errorInvalidPartId ?: 'select-error-invalid-part-ad209a4c' %}
    {% set formSelectLabelText = labelText ?: bsi_cx_lorem(3) %}
    {% set formSelectOptionText = optionText ?: 'Bitte wählen' %}
    {% set formSelectHelperText = infoText  ?: "" %}

    <div data-bsi-element="{{ formSelectElementId }}" class="bsi-element-{{ formSelectElementId }} form-element" data-bsi-element-part="{{ formSelectElementPartId }}">
        <label for="select-element" class="form-label">{{ formSelectLabelText }}</label>
        <div class="select-container">
            <div class="select-and-error-text">
                {# TODO: Was ist mit dem Platzhalter? Können wir das sauber umsetzen? Oder lassen wir das raus, bis die Produktentwicklung das sauber umgesetzt hat? #}
                <select class="select-input" id="select-element">
                    <option value="">{{ formSelectOptionText }}</option>
                </select>
                {% block select_error_texts %}
                    <div class="bsi-invalid-feedback"></div> {# for error messages from formular #}
                {% endblock %}
            </div>
            <div class="helper-text-container">
                <div data-bsi-element-part="{{ formSelectHelperTextPartId }}" class="helper-text">{{ formSelectHelperText }}</div>
            </div>
        </div>
    </div>
{% endapply %}