<div
    data-bsi-element="bsi-grid-column-G0PwWz"
    class="bsi-grid-column-element-template-part
        {{column-background-color-XzF28g.value}}
        {{bsiIfCheckbox column-rounded-corners-J2lsXv column-rounded-corners}}"
>
    <div
        data-bsi-dropzone="bsi-grid-column-dropzone-0Dv7Uo"
        class="{{column-direction-YjtUbZ.value}}
            {{column-horizontal-alignment-2AmT0r.value}}
            {{column-vertical-alignment-LuY0Fn.value}}"
    >
        {{{grid_column_content}}}
    </div>
</div>