{% set thenGroupElementId = elementId ?: 'then-group-0HfARz' %}
{% set thenGroupConditionPartId = conditionPartId ?: 'then-group-condition-part-UF47Zh' %}
{% set thenGroupConditions = conditions ?: 'Option 1;Option 2' %}
{% set thenGroupDependingDropzone = dependingDropzone ?:  'depending-dropzone-MUq0Kd' %}

<div aria-hidden data-bsi-element="{{ thenGroupElementId }}"
     class="{{ 'bsi-element-' ~ thenGroupElementId }} then-group not-required-if-visible">
    <div data-bsi-element-part="{{ thenGroupConditionPartId }}" class="condition">{{ thenGroupConditions }}</div>
    <div data-bsi-dropzone="{{ thenGroupDependingDropzone }}"></div>
</div>
