{% set formFieldElementId = elementId ?: 'form-field-2217aee4' %}
{% set formFieldElementPartId = elementPartId ?: 'form-field-part-740b4e74' %}
{% set formFieldHelperTextPartId = formHelperTextPartId ?: 'form-field-helper-text-part-fb1cdc8d' %}
{% set formFieldErrorInvalidPartId = errorInvalidPartId ?: 'form-field-part-error-invalid-21769f4a' %}
{% set formFieldLabelText = labelText ?: bsi_cx_lorem(3) %}
{% set formFieldHelperText = infoText ?: "" %}
{% set formFieldErrorInvalidText = errorInvalidText ?: 'Der Wert, den Sie f端r dieses Feld eingegeben haben, ist ung端ltig.' %}
{% set formFieldInputType = inputType ?: "text" %}

<div data-bsi-element="{{ formFieldElementId }}" class="bsi-element-{{ formFieldElementId }} form-field" data-bsi-element-part="{{ formFieldElementPartId }}" data-bsi-form-field-fixed-type="text">
    <label for="{{ formFieldInputType }}-field" class="form-label">{{ formFieldLabelText }}</label>
    <div class="input-field-container">
        <div class="input-field-with-error-text">
            {% block input_field %}
                <input id="{{ formFieldInputType }}-field" type="{{ formFieldInputType }}" class="{{ formFieldInputType }}-input"></input>
            {% endblock %}
            {% block input_field_error_text %}

                {# TODO: nur einen Fehlertext, vielleicht einen f端r leere Felder die requiered sind auf Formularebene einf端gen #}
                <div data-bsi-element-part="{{ formFieldErrorInvalidPartId }}" class="invalid-feedback">
                    {{ formFieldErrorInvalidText }}
                </div>
            {% endblock %}
        </div>
        <div class="helper-text">
            <div data-bsi-element-part="{{ formFieldHelperTextPartId }}" class="form-text">{{ formFieldHelperText }}</div>
        </div>
    </div>
</div>