{% apply spaceless %}

    {% set isDataBsiElement = dataBsiElement %}
    {% set elementId = elementId ?:  'form-container-84c6581f'%}
    {% set formHideDropzone = hideDropzone %}
    {% set formDropzoneId = dropzoneId ?: 'form-container-dropzone-cd1f258c' %}
    {% set dataBsiElementPartForm = elementPartForm ?: 'form-container-part-06acb819' %}
    {% set dataBsiElementPartValueMissingError = elementPartValueMissingError ?: 'form-element-value-missing-error-part-d090104c' %}
    {% set dataBsiElementPartMissmatchError = elementPartMissmatchError ?: 'form-element-type-missmatch-error-part-8cbc022e' %}
    {% set dataBsiElementPartOtherError = elementPartOtherError ?: 'form-element-other-error-part-01ae5355' %}
    {% set borderRadiusFormElements = (borderRadiusFormElements ?: properties.borderRadiusFormElements) ?: 'border-radius-form-elements-100' %}
    {# {% set borderWidthFormElements = (borderWidthFormElements ?: properties.borderWidthFormElements) ?: 'border-width-form-elements-100' %} #}
    {% set formButtonAlignment = (formButtonAlignment ?: properties.formButtonAlignment) ?: 'form-button-alignment-start' %} {# Optionen: 'form-button-alignment-start' or 'form-button-alignment-end' or 'form-button-alignment-center' 'form-button-alignment-space-between' #}
    {% set formLabelInfoPosition = (formLabelInfoPosition ?: properties.formLabelInfoPosition) ?: 'bsi-form-label-info-top-bottom' %} {# Optionen: 'bsi-form-label-info-top-bottom' or 'bsi-form-label-info-top-top' or 'bsi-form-label-info-left-bottom' #}
    {% set formFieldErrorValueMissingText = (errorValueMissingText ?: properties.formErrorValueMissingText) ?: 'Bitte füllen Sie dieses Feld aus.' %}
    {% set formFieldErrorTypeMissmatchText = (errorTypeMissmatchText ?: properties.formErrorTypeMissmatchText) ?: 'Das Format ist ungültig' %}
    {% set formFieldOtherError = (otherError ?: properties.formOtherError) ?: 'Ungültige Eingabe' %}
    {% set spaceBetweenFormSections = (spaceBetweenFormSections ?: properties.spaceBetweenFormSections) ?:  'space-between-form-sections-600' %} {# Set space between every form section. #}
    {% set spaceBetweenFormElements = (spaceBetweenFormElements ?: properties.spaceBetweenFormElements) ?:  'space-between-form-elements-400' %} {# Set space between every form element in a form section. #}
    {% set spaceWithinFormelements = (spaceWithinFormelements ?: properties.spaceWithinFormelements) ?:  'space-within-form-elements-100' %} {# Set space between elements in a every form field. (e.g. between label, inputfield, helperText etc.) #}
    {% set customStyleClasses = customStyleClasses %}
 
    <div {% if isDataBsiElement %}data-bsi-element="{{ elementId }}"{% endif %}
        class="{{ [
            "bsi-element-" ~ elementId,
            borderRadiusFormElements,
            borderWidthFormElements,
            formButtonAlignment,
            formLabelInfoPosition,
            spaceBetweenFormSections,
            spaceBetweenFormElements,
            spaceWithinFormelements,
            customStyleClasses,
        ] | filter(value => value is not null) | join(' ') }}"
    >
        <form x-data="form" @submit="submitForm" @reset="resetForm" data-bsi-element-part="{{ dataBsiElementPartForm }}" id="form" {{ properties.showFormFieldTypeField ?: data-bsi-show-form-type-field }} novalidate>
            <div class="hiddenElement form-value-missing-error-text" data-bsi-element-part="{{ dataBsiElementPartValueMissingError }}">{{ formFieldErrorValueMissingText }}</div>
            <div class="hiddenElement form-type-missmatch-error-text" data-bsi-element-part="{{ dataBsiElementPartMissmatchError }}">{{ formFieldErrorTypeMissmatchText }}</div>
            <div class="hiddenElement form-other-error-text" data-bsi-element-part="{{ dataBsiElementPartOtherError }}">{{ formFieldOtherError }}</div>
            <div {% if not formHideDropzone %} data-bsi-dropzone="{{ formDropzoneId }}"{% endif %} class="form-elements-container">
                {% block form_container_content %}
                    {% include "../../form-section/prototype/template.twig" only %}
                {% endblock %}
            </div>
            <div class="form-buttons">
                <input type="submit" class="form-button-submit btn" value="Submit"/>
                <input type="reset" class="form-button-reset btn" value="Reset" disabled/>
            </div>
            <div class="form-validation-summary">
                <p>{{ formValidationSummaryMessage }}</p>
            </div>
            <div data-bsi-remove-if="draft">
                <ul class="" data-bsi-form-validation="">
                    <li data-bsi-form-validation-item=""></li>
                </ul>
            </div>
        </form>
    </div>
{% endapply %}