{% set bodyTextElementId = elementId ?: 'bsi-body-text-IxsKOQ' %}

{% apply spaceless %}
<div data-bsi-element="{{ bodyTextElementId }}" class="bsi-text-element bsi-element-{{ bodyTextElementId }}">
    <div lang="{{ '{{ body-text-OastHh.languageTag }}' }}">{{ ' {{{ body-text-OastHh.html }}}' }}</div>
</div>
{% endapply %}