{% macro render(elementId = null, urlPartId = null) %}
	{% apply spaceless %}
	{% deprecated 'The usage of "element.render(...)" is deprecated, use "include ... with {...}" instead. For detailed information, visit: https://github.com/bsi-software/bsi-cx-design-master-template-web/blob/main/MIGRATION_GUIDE.md"' %}
	{% include './template.twig' %}
	{% endapply %}
{% endmacro %}

{% apply spaceless %}
{% set slotFinderElementId = elementId ?: 'slot-finder-dZlvGH' %}
{% set slotFinderUrlPartId = urlPartId ?: 'slot-finder-part-url-cDW6yK' %}

{% set chooseDateText = properties.slotFinderChooseDateText ?: 'Choose date' %}
{% set chooseSlotText = properties.slotFinderChooseSlotText ?: 'Choose slot' %}
{% set bookSlotText = properties.slotFinderBookSlotText ?: 'Book appointment' %}
{% set noSlotsText = properties.slotFinderNoSlotsText ?: 'No slots available' %}

{% set calendarViewDay = (calendarViewDay ?: properties.calendarViewDay) ?: 'calendar-view-day' %}
{% set calendarViewWeek = (calendarViewWeek ?: properties.calendarViewWeek) ?: 'calendar-view-week' %}
{% set calendarViewMonth = (calendarViewMonth ?: properties.calendarViewMonth) ?: 'no-calendar-view-month' %}
{% set calendarViewList = (calendarViewList ?: properties.calendarViewList) ?: 'no-calendar-view-list' %}
{% set calendarStartingView = (calendarStartingView ?: properties.calendarStartingView) ?: 'calendar-starting-view-day' %}

{% if cx.version.TARGET >= cx.version.CX_22_0 %}

	<div x-data="slotFinder" id="slot-finder" data-bsi-element="{{ slotFinderElementId }}" data-bsi-element-part="{{ slotFinderUrlPartId }}" data-bsi-url-provider="Calendar" class="{{ 'bsi-element-' ~ slotFinderElementId }} day-view default-slots default-flow">
    <fieldset>
      <legend class="prefix-calendar">{{ chooseDateText }}</legend>
      <div x-init="initCalendar" id="calendar">
        <div class="flatpickr-calendar animate inline" tabindex="-1"><div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span><div class="flatpickr-month"><div class="flatpickr-current-month"><select class="flatpickr-monthDropdown-months" aria-label="Month" tabindex="-1"><option class="flatpickr-monthDropdown-month" value="0" tabindex="-1">Januar</option><option class="flatpickr-monthDropdown-month" value="1" tabindex="-1">Februar</option><option class="flatpickr-monthDropdown-month" value="2" tabindex="-1">März</option><option class="flatpickr-monthDropdown-month" value="3" tabindex="-1">April</option><option class="flatpickr-monthDropdown-month" value="4" tabindex="-1">Mai</option><option class="flatpickr-monthDropdown-month" value="5" tabindex="-1">Juni</option><option class="flatpickr-monthDropdown-month" value="6" tabindex="-1">Juli</option><option class="flatpickr-monthDropdown-month" value="7" tabindex="-1">August</option><option class="flatpickr-monthDropdown-month" value="8" tabindex="-1">September</option><option class="flatpickr-monthDropdown-month" value="9" tabindex="-1">Oktober</option><option class="flatpickr-monthDropdown-month" value="10" tabindex="-1">November</option><option class="flatpickr-monthDropdown-month" value="11" tabindex="-1">Dezember</option></select><div class="numInputWrapper"><input class="numInput cur-year" type="number" tabindex="-1" aria-label="Year" min="2023"><span class="arrowUp"></span><span class="arrowDown"></span></div></div></div><span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span></div><div class="flatpickr-innerContainer"><div class="flatpickr-rContainer"><div class="flatpickr-weekdays"><div class="flatpickr-weekdaycontainer"><span class="flatpickr-weekday">Mo</span><span class="flatpickr-weekday">Di</span><span class="flatpickr-weekday">Mi</span><span class="flatpickr-weekday">Do</span><span class="flatpickr-weekday">Fr</span><span class="flatpickr-weekday">Sa</span><span class="flatpickr-weekday">So</span></div></div><div class="flatpickr-days" tabindex="-1"><div class="dayContainer"><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 1, 2024">1</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 2, 2024">2</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 3, 2024">3</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 4, 2024">4</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 5, 2024">5</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 6, 2024">6</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 7, 2024">7</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 8, 2024">8</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 9, 2024">9</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 10, 2024">10</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 11, 2024">11</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 12, 2024">12</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 13, 2024">13</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 14, 2024">14</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 15, 2024">15</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 16, 2024">16</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 17, 2024">17</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 18, 2024">18</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 19, 2024">19</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 20, 2024">20</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 21, 2024">21</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 22, 2024">22</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 23, 2024">23</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 24, 2024">24</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 25, 2024">25</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 26, 2024">26</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 27, 2024">27</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 28, 2024">28</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 29, 2024">29</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 30, 2024">30</span><span class="flatpickr-day flatpickr-disabled" aria-label="Januar 31, 2024">31</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 1, 2024">1</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 2, 2024">2</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 3, 2024">3</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 4, 2024">4</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 5, 2024">5</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 6, 2024">6</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 7, 2024">7</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 8, 2024">8</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 9, 2024">9</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 10, 2024">10</span><span class="flatpickr-day nextMonthDay flatpickr-disabled" aria-label="Februar 11, 2024">11</span></div></div></div></div></div>
      </div>
    </fieldset>
    <fieldset id="day-view">
      <legend class="prefix-clock">{{ chooseSlotText }}</legend>
      <div x-init="initDayView" id="slots-day"><div class="no-slots">{{ noSlotsText }}</div></div>
    </fieldset>
    <fieldset id="week-view">
      <legend class="prefix-clock">{{ chooseSlotText }}</legend>
      <div x-init="initWeekView" id="slots-week"><div class="no-slots">{{ noSlotsText }}</div></div>
    </fieldset>
    <fieldset>
      <legend class="prefix-tick">{{ bookSlotText }}</legend>
      <div x-init="initSummary" id="summary"></div>
      <button x-ref="bookButton" id="book-button" disabled>{{ bookSlotText }}</button>
    </fieldset>
  </div>

{% endif %}
{% endapply %}
