{% apply spaceless %}
    {% set formCheckboxGroupElementId = elementId ?: 'checkbox-group-95a8d908' %}
    {% set formCheckboxGroupElementPartId = elementPartId ?: 'checkbox-group-part-8cdc938a' %}
    {% set formCheckboxGroupRequired = required ?: 'bsi-group-not-required' %} {# alternative 'bsi-group-required' #}
    {% set formCheckboxGroupAlignment = alignment ?: 'form-group-alignment-vertical' %} {# alternative 'form-group-alignment-horizontal' #}
    {% set formCheckboxGroupLabel = groupLabel ?: 'Checkbox Gruppe' %}
    {% set formCheckboxGroupLabelId = groupLabelId ?: 'checkbox-group-label-a7bf5a38' %}
    {% set formCheckboxGroupHelperTextPartId = formCheckboxGroupHelperTextPartId ?: 'checkbox-group-helper-text-part-1cf1d475' %}
    {% set formCheckboxGroupErrorInvalidPartId = errorInvalidPartId ?: 'checkbox-group-error-invalid-part-6209efa8' %}
    {% set formCheckboxGroupLabelText = labelText ?: bsi_cx_lorem(3) %}
    {% set formCheckboxGroupHelperText = infoText ?: "" %}
    <div data-bsi-element="{{ formCheckboxGroupElementId }}" class="bsi-element-{{ formCheckboxGroupElementId }} form-element form-field checkbox-group {{ formCheckboxGroupRequired }} {{ formCheckboxGroupAlignment }}">
        <label class="form-label"data-bsi-element-part="{{ formCheckboxGroupLabelId }}">{{ formCheckboxGroupLabel }}</label>
        <div class="input-field-container form-field-layout">
            <div class="input-field-with-error-text form-field-input-wrapper">
                <fieldset role="group">
                    <div data-bsi-dropzone="checkbox-group-dropzone-id-4f4a7409" class="checkbox-group-container">
                        {% block checkbox_group_dropzone %}
                            {% include "./checkbox-group-checkbox/template.twig" only %}
                        {% endblock %}
                    </div>
                </fieldset>
            </div>
            <div class="form-field-feedback-wrapper">
                {% block checkbox_info_texts %}
                    <div class="bsi-invalid-feedback"></div> {# for error messages from formular #}
                {% endblock %}
            </div>
            <div class="helper-text-container">
                <div data-bsi-element-part="{{ formCheckboxGroupHelperTextPartId }}" class="helper-text">{{ formCheckboxGroupHelperText }}</div>
            </div>
        </div>
    </div>
{% endapply %}