{% apply spaceless %}
    {# {% set formWidth = (formWidth ?: properties.formWidth) ?: 'bsi-form-wide' %}
    {% set formLayout = (formLayout ?: properties.formLayout) ?: 'bsi-form-card-visible' %}
    {% set formBorderRadius = (formBorderRadius ?: properties.formBorderRadius) ?: 'bsi-corner-rounded' %}
    {% set formLabelPosition = (formLabelPosition ?: properties.formLabelPosition) ?: 'bsi-form-label-top' %}
    {% set formColor = (formColor ?: properties.formColor) ?: 'bsi-form-color-primary' %}
    {% set formButtonLayout = (formButtonLayout ?: properties.formButtonLayout) ?: 'bsi-form-btn-outline' %}
    {% set formTooltipStyle = (formTooltipStyle ?: properties.formTooltipStyle) ?: 'bsi-form-info-as-text' %}
    {% set formValidationSummary = (formValidationSummary ?: properties.formValidationSummary) ?: 'bsi-form-hide-valdiation-summary' %}
    {% set formValidationSummaryMessage = (formValidationSummaryMessage ?: properties.formValidationSummaryMessage) ?: 'Bitte folgende Felder ausfüllen:' %} #}

    {% set colorScheme = (colorScheme ?: properties.formularColorScheme) ?: 'form-scheme-light' %}
    {% set formHelperTextStyle = (formHelperTextStyle ?: properties.formHelperTextStyle) ?: 'bsi-form-helper-text-as-text' %}
    {% set spaceBetweenFormSections = (spaceBetweenFormSections ?: properties.spaceBetweenFormSections) ?:  "space-between-form-sections-600" %}

    <div data-bsi-element="form-container-84c6581f" class="bsi-element-form-container-84c6581f {{ colorScheme }} {{ formHelperTextStyle }} {{ spaceBetweenFormSections }}">
        <form data-bsi-element-part="form-container-part-06acb819" id="form" {{ properties.showFormFieldTypeField ?: data-bsi-show-form-type-field }} class="">
            <div data-bsi-dropzone="form-container-dropdown-cd1f258c" class="form-elements-container">
                {% block form_container_dropzone %}
                    {% include "../form-section/template.twig" only %}
                {% endblock %}
            </div>
            <div class="form-buttons">
                <input type="submit" class="form-button-submit btn" value="Submit"/>
                <input type="reset" class="form-button-reset btn" value="Reset" disabled/>
            </div>
            <div class="form-validation-summary">
                <p>{{ formValidationSummaryMessage }}</p>
            </div>
            <div data-bsi-remove-if="draft">
                <ul class="" data-bsi-form-validation="">
                    <li data-bsi-form-validation-item=""></li>
                </ul>
            </div>
        </form>
    </div>
{% endapply %}