{% apply spaceless %}
    {% set formToggleSwitchElementId = elementId ?: 'toggle-switch-b0ae602a' %}
    {% set formToggleSwitchElementPartId = elementPartId ?: 'toggle-switch-part-76e700be' %}
    {% set formToggleSwitchHelperTextPartId = formToggleSwitchHelperTextPartId ?: 'toggle-switch-helper-text-part-772277fc' %}
    {% set formToggleSwitchErrorInvalidPartId = errorInvalidPartId ?: 'toggle-switch-error-invalid-part-a8889dc9' %}
    {% set formToggleSwitchLabelText = labelText ?: bsi_cx_lorem(3) %}
    {% set formToggleSwitchHelperText = infoText  ?: "" %}
   
    <div x-data="toggleSwitch" data-bsi-element="{{ formToggleSwitchElementId }}" class="bsi-element-{{ formToggleSwitchElementId }} form-element" data-bsi-element-part="{{ formToggleSwitchElementPartId }}">
        <div class="empty-element"></div> {# This Element is only for the option, that the label from other Form Elements stands on the left side insted of in the top of the element #}
        <div class="toggle-switch-container">
            <div class="toggle-switch-with-label">
                <input 
                    @change="formElementValidationOnChange"
                    id="toggleId"
                    type="checkbox"
                    x-model="isChecked"
                    class="native-checkbox native-input">
                </input>
                <span
                    @click="toggle"
                    class="visual-toggle-switch visual-input"
                >
                    <span class="toggle-indicator"></span>
                </span>
                <label
                    id="labelId"
                    for="toggleId"
                    class="form-label">{{ formToggleSwitchLabelText }}
                </label>
            </div>
            {% block toggle_switch_info_texts %}
                <div class="bsi-invalid-feedback"></div> {# for error messages from formular #}
                <div class="helper-text-container">
                    <div data-bsi-element-part="{{ formToggleSwitchHelperTextPartId }}" class="helper-text">{{ formToggleSwitchHelperText }}</div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endapply %}