{% set buttonElementId = elementId ?: 'bsi-button-filled' %}
{% set customClasses = customClasses ?: "" %}
{% apply spaceless %}
    <div
        {{ templateElement(buttonElementId, scope) }}
        class="bsi-button-template-part
        bsi-element-{{ buttonElementId }}
        {{ customClasses }}
        {{ ifCheckboxValue("button-width", scope, "button-wide") }}"
    >
        <a
            class="bsi-button {{ ifCheckboxValue("button-background-color", scope, "button-rounded-corners") }}"
            {{ linkUrl("button-link") }}
            role="button"
            {{ linkDescriptionAttr('button-link', scope) }}
        >
            {# {{ ifOptionEquals("button-icon", scope, "button-icon-none", "", `<i class="icon ${ optionValue('button-icon', scope) }"></i>` ) }} #}
            <span>{{ linkText('button-link', scope) }}</span>
            <i class="icon {{ optionValue('button-icon', scope) }}"></i>
        </a>
    </div>
{% endapply %}
