{% set formFieldElementId = elementId ?: 'form-field-2217aee4' %}
{% set formFieldElementPartId = elementPartId ?: 'form-field-part-740b4e74' %}
{% set formFieldTextPartId = formTextPartId ?: 'form-field-part-text-fb1cdc8d' %}
{% set formFieldErrorRequiredPartId = errorRequiredPartId ?: 'form-field-part-error-required-94125730' %}
{% set formFieldErrorInvalidPartId = errorInvalidPartId ?: 'form-field-part-error-invalid-21769f4a' %}
{% set formFieldLabelText = (labelText ?: properties.formFieldLabelText) ?: bsi_cx_lorem(3) %}
{% set formFieldInfoText = (infoText ?: properties.formFieldInfoText) ?: "" %}
{% set formFieldErrorRequiredText = (errorRequiredText ?: properties.errorRequiredText) ?: 'Bitte füllen Sie dieses Feld aus.' %}
{% set formFieldErrorInvalidText = (errorInvalidText ?: properties.errorInvalidText) ?: 'Der Wert, den Sie für dieses Feld eingegeben haben, ist ungültig.' %}

<div data-bsi-element="{{ formFieldElementId }}" class="bsi-element-{{ formFieldElementId }} form-field" data-bsi-element-part="{{ formFieldElementPartId }}" data-bsi-form-field-fixed-type="text">
    <label for="text-field" class="form-label">{{ formFieldLabelText }}</label>
    <div class="input-field-container">
        <div class="input-field-with-error-text">
            <input id="text-field" type="text" class="text-input"></input>
            <div data-bsi-element-part="{{ formFieldErrorRequiredPartId }}" class="invalid-feedback">
                {{ formFieldErrorRequiredText }}
            </div>
            <div data-bsi-element-part="{{ formFieldErrorInvalidPartId }}" class="logic-validation">
                {{ formFieldErrorInvalidText }}
            </div>
        </div>
        <div class="info-text">
            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-custom-class="bsi-tooltip" role="tooltip" aria-label="{{ formFieldInfoText }}"></i>
            <div data-bsi-element-part="{{ formFieldTextPartId }}" class="form-text">{{ formFieldInfoText }}</div>
        </div>
    </div>
</div>