{% macro render(text = null, elementId = null, elementPartId = null, errorRequiredPartId = null) %}{% apply spaceless %}
    {% set text = text ?: bsi_cx_lorem(9) %}
    {% set elementId = elementId ?: 'text-area-J5z17p' %}
    {% set elementPartId = elementPartId ?: 'text-area-part-61guvT' %}
    {% set formTextPartId = formTextPartId ?: 'text-area-part-text-gFR3M5' %}
    {% set errorRequiredPartId = errorRequiredPartId ?: 'text-area-part-error-required-ZPOyD8' %}

    <div data-bsi-element="{{ elementId }}" class="{{ 'bsi-element-' ~ elementId }} mb-4 bsi-form-element bsi-form-textarea bsi-form-flex-label" data-bsi-element-part="{{ elementPartId }}">
        <div class="bsi-form-input-element bsi-label-floating-element mb-3">
            <label for="field" class="form-label">Label</label>
            <textarea class="form-control" id="field" rows="5" value=""></textarea>
            <div data-bsi-element-part="{{ formTextPartId }}" class="form-text">{{ text }}</div>
            <div class="invalid-feedback">
                <label data-bsi-element-part="{{ errorRequiredPartId }}">Please fill out this field.</label>
            </div>
        </div>
    </div>
{% endapply %}{% endmacro %}