{% apply spaceless %}
    {% set formFieldElementId = elementId ?: 'form-pin-dafa5a0e' %}
    {% set formFieldElementPartId = elementPartId ?: 'form-field-part-eefc3ac5' %}
    {% set formFieldTextPartId = formTextPartId ?: 'form-field-part-text-cc1a1c62' %}
    {% set formFieldLabelText = (labelText ?: properties.formFieldLabelText) ?: bsi_cx_lorem(3) %}
    {% set formFieldInfoText = (infoText ?: properties.formFieldInfoText) ?: "" %}
    
    <div x-data="formPin" data-bsi-element="{{ formFieldElementId }}" data-bsi-form-field-fixed-type data-bsi-hide-required class="{{ 'bsi-element-' ~ formFieldElementId }} mb-4 pin-label-invisible bsi-form-element bsi-form-field-element bsi-form-flex-label" data-bsi-element-part="{{ formFieldElementPartId }}">
        <div class="bsi-form-input-element bsi-label-floating-element mb-3 bsi-form-pin-element">
            {# generated Inputs #}
        </div>
        <div class="bsi-form-input-element bsi-label-floating-element mb-3">
            <input x-init="initFormFieldInput" class="form-control bsi-form-field-input hide show-if-edit" type="text" value="" required>
            {# Preview Pin Inputs #}
            <input class="form-control bsi-form-field-input hide show-if-edit" type="text">
            <input class="form-control bsi-form-field-input hide show-if-edit" type="text">
            <input class="form-control bsi-form-field-input hide show-if-edit" type="text">
            <input class="form-control bsi-form-field-input hide show-if-edit" type="text">
            <input class="form-control bsi-form-field-input hide show-if-edit" type="text">
        </div>
        <div class="form-label-and-info-text show-if-edit">
            <label for="field" class="form-label">{{ formFieldLabelText }}</label>
            <div data-bsi-element-part="{{ formFieldTextPartId }}" class="form-text">{{ formFieldInfoText }}</div>
            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-custom-class="bsi-tooltip" role="tooltip" aria-label="{{ formFieldInfoText }}"></i>
        </div>
    </div>
{% endapply %}