{% apply spaceless %}
    {% set formWidth = (formWidth ?: properties.formWidth) ?: 'bsi-form-wide' %}
    {% set formLayout = (formLayout ?: properties.formLayout) ?: 'bsi-form-card-visible' %}
    {% set formBorderRadius = (formBorderRadius ?: properties.formBorderRadius) ?: 'bsi-corner-rounded' %}
    {% set formLabelPosition = (formLabelPosition ?: properties.formLabelPosition) ?: 'bsi-form-label-top' %}
    {% set formColor = (formColor ?: properties.formColor) ?: 'bsi-form-color-primary' %}
    {% set formButtonLayout = (formButtonLayout ?: properties.formButtonLayout) ?: 'bsi-form-btn-outline' %}

    <div x-data="formElement" data-bsi-element="form-container-pin-384aa4d6" class="bsi-element-form-container-692qIu container mb-3 {{ formWidth }} {{ formLayout }} {{ formBorderRadius }} {{ formTooltipStyle }} {{ formColor }} {{ formButtonLayout }}">
        <div class="card border-light shadow">
            <div class="card-body">
                <form x-init="initForm" x-on:submit="submitForm" data-bsi-element-part="form-container-pin-30c44d0d" id="form" data-bsi-show-form-type-field class="needs-validation" novalidate>
                    <div data-bsi-dropzone="form-container-dropzone-6b6f360e">
                        {% block form_container_dropzone %}
                            {% include '../form-pin/template.twig' %}
                        {% endblock %}
                    </div>
                    <div data-bsi-remove-if="draft">
                        <ul class="text-danger" data-bsi-form-validation="">
                            <li data-bsi-form-validation-item=""></li>
                        </ul>
                    </div>
                    <div class="bsi-form-btn-row hstack flex-wrap">
                        <div class="bsi-form-btn d-flex">
                            <input type="submit" class="btn btn-submit hide" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endapply %}